.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  row-gap: 20px;
  max-height: 1000px;
  width: 100%;
  background: #222222;
  overflow: hidden;
}
.footer-logo i {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #F09000;
  font-size: 30px;
}
.footer-logo i:hover {
  color: rgba(240, 144, 0, 0.5254901961);
}
.footer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 50px;
  height: 100%;
}
.footer-buttons__item p {
  color: rgba(255, 255, 255, 0.5490196078);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.055em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer-buttons__item p:hover {
  color: #fff;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fb2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  height: 100%;
  min-height: 230px;
  max-width: 1200px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 10px;
}
.upper-buttons {
  display: none;
}

.text-1 .text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 0 10px 0 10px;
}

.logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
  letter-spacing: 0.035em;
}

.site-logo img {
  max-width: 70px;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logo-text {
  color: #fff;
}

.copyright {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.5490196078);
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.inn {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.5490196078);
}

.oferta {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
  width: 100%;
  min-height: 50px;
}
.down::before {
  position: absolute;
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  height: 3px;
  width: 100%;
  background: rgba(255, 255, 255, 0.0705882353);
  z-index: 2;
}
.down-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
  min-height: 50px;
}