.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  row-gap: 20px;
  max-height: 1000px;
  width: 100%;
  background: #222222;
  overflow: hidden;
  padding: 20px 0 10px;
}

.upper {
  display: -ms-grid;
  display: grid;
  height: 100%;
  min-height: 230px;
  max-width: 1200px;
  width: 100%;
  margin-left: 220px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 1fr 10px 1fr;
  grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 10px;
  -ms-grid-columns: 2fr 40px 3fr 40px 3fr;
  grid-template-columns: 2fr 3fr 3fr;
      grid-template-areas: "logo copyright i" "logo inn oferta";
  grid-auto-rows: minmax(230px, auto);
}

.logo-wrap {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
  letter-spacing: 0.035em;
  grid-area: logo;
}

.site-logo img {
  max-width: 70px;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logo-text {
  color: #fff;
}

.copyright {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: copyright;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  height: 30px;
}

.i {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: i;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.5490196078);
  -ms-grid-row-align: start;
      align-self: start;
}

.inn {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: inn;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.5490196078);
}

.oferta {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: oferta;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  -ms-grid-row-align: center;
      align-self: center;
}

.down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
  width: 100%;
  min-height: 50px;
}

.down::before {
  position: absolute;
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  height: 3px;
  width: 100%;
  background: rgba(255, 255, 255, 0.0705882353);
  z-index: 2;
}

.down-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
  min-height: 50px;
}

.footer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 50px;
  height: 100%;
}

.footer-buttons__item p {
  color: rgba(255, 255, 255, 0.5490196078);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.055em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-buttons__item p:hover {
  color: #fff;
}

/* .footer-buttons__item-active p
{
    color: #ffffff;
} */
.footer-logo i {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #F09000;
}

.footer-logo i:hover {
  color: rgba(240, 144, 0, 0.5254901961);
}