@import "styles.css";
.p-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 55px;
  /* width: 42%; */
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0.035em;
}

/*Cards in front*/
.personal-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
  height: 73vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "about-user about-user double-auth double-auth" "about-user about-user skins       skins" "coin-buy   coin-buy    skins          skins" "coin-buy   coin-buy    .              .";
  grid-auto-rows: minmax(150px, auto);
  gap: 20px;
}

.pp-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2% 5%;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.pp {
  position: relative;
  background: #fefefe;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.about-user {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  grid-area: about-user;
}

.info {
  top: 0;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  padding: 10px 0 0 0;
}
.info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  font-size: 15px;
  gap: 5px;
  /* padding-bottom: 20px; */
}
.info-text__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.priveledge {
  color: #FF9800;
}

.coin-count {
  font-weight: 700;
}

.btn {
  max-height: 40px;
  min-height: 25px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1450980392);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover {
  background: #dedede;
  color: #000;
}

.exit-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FF4E4E;
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
}
.exit-btn:hover {
  color: #2f2f2f;
  background: #ff9393;
}

.double-auth {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  gap: 0;
  grid-area: double-auth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-height: 80px;
  height: 100%;
}
.double-auth__btn {
  background: #242119;
  max-width: 150px;
  width: 100%;
  height: 100%;
}

.coin-buy {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: coin-buy;
}
.coin-buy__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-family: "Montserrat";
  font-size: 22px;
  letter-spacing: 0.03em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  line-height: 22px;
  color: #070707;
}
.coin-buy__info {
  padding: 10px 0 0 0;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #000000;
}

.subinfo {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgba(7, 7, 7, 0.368627451);
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

.slider {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.promo {
  width: 100%;
  height: 50px;
  background: #F3F3F3;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 11px;
  border: none;
}
.promo-p {
  color: rgba(0, 0, 0, 0.4);
}

.bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 50px;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0;
}

.buy-btn {
  background: #242119;
  width: 129px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.368627451);
}
.price p {
  color: rgba(0, 0, 0, 0.4);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.price-count {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

.skins {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: skins;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* height: max-content; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
}

.skin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* background: url(src/img/cards/skin.png) no-repeat; */
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: auto;
  width: 50%;
  grid-auto-rows: minmax(100px, auto);
  padding: 0 10px;
  -ms-grid-column-align: center;
      justify-self: center;
}
.skin-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../src/img/cards/skin-bg.png) no-repeat center/cover;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  overflow: hidden;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skin-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 0 10px;
}
.skin-header {
  /* position: absolute; */
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  z-index: 2;
}
.skin-paragraph {
  color: #fff;
}

.skins__btn-wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.skin__btn-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.field {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.skins__btn {
  max-height: 70px;
  height: 100%;
  width: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 6px;
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
  background: #FFD699;
  font-weight: 600;
  padding: 3% 10%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.125rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skins__btn:hover {
  background: rgba(255, 214, 153, 0.7019607843);
  color: rgba(0, 0, 0, 0.737254902);
}