.p-text {
  display: flex;
  align-self: flex-start;
  /* width: 42%; */
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0.035em;
}

/*Cards in front*/
.personal-page {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cards {
  display: grid;
  align-self: center;
  width: 90%;
  height: 100%;
  max-width: 1000px;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "about-user about-user double-auth double-auth" "about-user about-user skins       skins" "coin-buy   coin-buy    skins          skins" "coin-buy   coin-buy    .              .";
  grid-auto-rows: minmax(150px, auto);
  gap: 20px;
}

.pp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2% 5%;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.pp {
  position: relative;
  background: #fefefe;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.about-user {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: about-user;
}

.info {
  top: 0;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  padding: 10px 0 0 0;
}
.info-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 15px;
  gap: 5px;
  /* padding-bottom: 20px; */
}
.info-text__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.priveledge {
  color: #FF9800;
}

.coin-count {
  font-weight: 700;
}

.btn {
  max-height: 40px;
  min-height: 25px;
  height: 100%;
  align-items: center;
  border-radius: 6px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1450980392);
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover {
  background: #dedede;
  color: #000;
}

.exit-btn {
  justify-content: center;
  background: #FF4E4E;
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
}
.exit-btn:hover {
  color: #2f2f2f;
  background: #ff9393;
}

.double-auth {
  gap: 0;
  grid-area: double-auth;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-height: 80px;
  height: 100%;
}
.double-auth__btn {
  background: #242119;
  max-width: 150px;
  width: 100%;
  height: 100%;
}

.coin-buy {
  grid-area: coin-buy;
  max-height: 200px;
}
.coin-buy__count {
  display: flex;
  color: #000;
  font-family: "Montserrat";
  font-size: 22px;
  letter-spacing: 0.03em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 600;
  line-height: 22px;
  color: #070707;
}
.coin-buy__info {
  padding: 10px 0 0 0;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #000000;
}

.subinfo {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgba(7, 7, 7, 0.368627451);
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
}
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #FFD699; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #000;
  border-radius: 50%;
  border: 4px solid #FFD699;
  cursor: pointer; /* Cursor on hover */
}

.promo {
  width: 100%;
  height: 50px;
  background: #F3F3F3;
  text-align: center;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 11px;
  border: none;
}
.promo-p {
  color: rgba(0, 0, 0, 0.4);
}

.bottom-container {
  display: flex;
  width: 100%;
  max-height: 50px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0;
}

.buy-btn {
  background: #242119;
  width: 129px;
}

.price {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.368627451);
}
.price p {
  color: rgba(0, 0, 0, 0.4);
  align-self: center;
  justify-self: flex-end;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.price-count {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

.skins {
  grid-area: skins;
  display: flex;
  justify-content: space-between;
  /* height: max-content; */
  align-items: center;
  border: 0;
}

.skin {
  display: flex;
  /* background: url(src/img/cards/skin.png) no-repeat; */
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: auto;
  width: 50%;
  grid-auto-rows: minmax(100px, auto);
  padding: 0 10px;
  justify-self: center;
}
.skin-bg {
  display: flex;
  flex-direction: column;
  background: url(../src/img/cards/skin-bg.png) no-repeat center/cover;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 1;
  text-align: center;
  justify-content: center;
}
.skin-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 0 10px;
}
.skin-header {
  /* position: absolute; */
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  z-index: 2;
}
.skin-paragraph {
  color: #fff;
}

.skins__btn-wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.skin__btn-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.field {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.skins__btn {
  max-height: 70px;
  height: 100%;
  width: auto;
  align-self: center;
  border-radius: 6px;
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
  background: #FFD699;
  font-weight: 600;
  padding: 3% 10%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.125rem;
  transition: 0.5s;
}
.skins__btn:hover {
  background: rgba(255, 214, 153, 0.7019607843);
  color: rgba(0, 0, 0, 0.737254902);
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 50px 0;
  }
  .header__logos {
    display: none;
  }
  .header__account {
    display: grid;
    grid-template-columns: minmax(24px, 56px), minmax(35px, 65px);
    grid-template-rows: 50% 50%;
    grid-template-areas: "img name" "img coins";
    -moz-column-gap: 10px;
         column-gap: 10px;
    max-width: 130px;
    width: 100%;
    max-height: 56px;
    align-items: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    color: #000;
  }
  .header__account p {
    color: #000;
  }
  .account__img img {
    border-radius: 50%;
  }
  .account__name {
    font-weight: 700;
  }
  .account__coins {
    font-size: 10pt;
    font-weight: 500;
    letter-spacing: -0.005em;
  }
  .search {
    justify-content: center;
  }
  .online {
    grid-area: online;
    display: none;
  }
  .online-count {
    color: #fff;
  }
  .online span {
    color: rgba(255, 255, 255, 0.5019607843);
  }
  .logo-phones {
    display: flex;
    color: #000;
    font-weight: 700;
  }
  .cards {
    grid-template-areas: "about-user about-user double-auth double-auth" "about-user about-user double-auth     double-auth" "coin-buy   coin-buy    skins          skins" "coin-buy   coin-buy    skins              skins";
  }
  .sidebar {
    display: none;
  }
  .info {
    font-size: 16px;
  }
  .info-text {
    font-size: 12px;
  }
  .btn {
    font-size: 12px;
  }
  .info-coin {
    font-size: 20px;
  }
  .double-auth {
    max-height: 100px;
  }
  .skin {
    display: none;
  }
  .skin-bg {
    width: 100%;
  }
  .footer-buttons {
    display: flex;
    justify-content: center;
  }
  .upper {
    margin: 0;
  }
  .burger-menu {
    display: flex;
    position: fixed;
    z-index: 5;
    opacity: 0;
    width: 300px;
    height: 100%;
    transform: translate(-120%, 0);
    transition: all linear 0.3s;
    align-content: center;
    flex-wrap: wrap;
  }
  .burger-menu__button {
    display: flex;
    width: 15px;
  }
  .burger-menu.active {
    opacity: 1;
    transform: translate(-20%, 0);
  }
  .menu.active {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
  }
  .menu-close {
    justify-content: center;
    width: 120%;
    color: rgba(255, 111, 111, 0.5019607843);
  }
}
@media screen and (max-width: 660px) {
  .container {
    width: 100vw;
    overflow-x: hidden;
  }
  .searchTerm {
    width: 25%;
    justify-content: center;
    border: none;
  }
  .searchTerm.active {
    width: 100%;
  }
  .search-wrap {
    max-width: 100px;
    width: 100%;
  }
  .pp-wrapper {
    padding: 0;
  }
  .coin-buy__count {
    font-size: 15pt;
  }
  .coin-buy__info {
    padding: 0;
  }
  .buy-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .promo {
    height: 30px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
  }
  .double-auth {
    order: 3;
    padding: 10px 0;
  }
  .double-auth__btn {
    padding: 4px 10px;
  }
  .personal-page {
    display: flex;
    align-items: center;
    max-width: 90vw;
    width: 100%;
    text-align: center;
  }
  .skins {
    display: none;
  }
  .info {
    padding: 0 0 0 0;
  }
  .p-text {
    justify-content: center;
    width: 100%;
    margin: 0;
  }
  .footer {
    padding: 20px 0 0 0;
    display: flex;
  }
  .footer-logo i {
    font-size: 25px;
  }
  .footer-social {
    display: none;
  }
  .upper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
  }
  .upper-buttons {
    display: flex;
    gap: 20px;
  }
  .upper-buttons i {
    font-size: 35px;
  }
  .logo-wrap {
    width: 50px;
  }
  .logo-text {
    font-size: 14pt;
  }
  .copyright {
    align-self: flex-start;
  }
  .central {
    width: 100%;
    align-items: center;
    padding: 0%;
  }
  .down {
    display: none;
  }
  .oferta {
    align-self: flex-start;
    font-weight: 500;
  }
  .text-1 {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 30px;
    background: #222222;
    padding: 0 16px;
  }
  .text-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 16px 5% 16px;
    background: #1A1A1A;
  }
  .account__name {
    font-size: 12pt;
  }
  .shop-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .main-cards {
    display: flex;
    height: 100%;
  }
  .main-cards__item {
    display: none;
  }
  .discount {
    display: flex;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    padding: 0%;
  }
  .discount-date {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
  }
  .discount-info {
    font-weight: 700;
    font-size: 18px;
    line-height: 107.9%;
  }
}
@media screen and (max-width: 430px) {
  .burger-menu {
    transform: translate(-120%, 0);
  }
  .burger-menu.active {
    transform: translate(0, 0);
  }
  .search-wrap {
    max-width: 80px;
    width: 100%;
  }
  .logo-phones {
    font-size: 14pt;
    text-align: center;
  }
  .header__account {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
  }
  .account__name {
    font-size: 10pt;
  }
  .account__coins {
    font-size: 8pt;
  }
  .account__img {
    width: 24px;
    height: 24px;
    margin: 0;
    border-radius: 50%;
  }
  .shop-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .image img {
    max-width: 200px;
    max-height: 250px;
    height: 100%;
    width: 100%;
  }
  .discount {
    display: flex;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    padding: 0%;
  }
  .discount-date {
    font-size: 10px;
    line-height: 16px;
  }
  .discount-info {
    font-size: 16px;
    line-height: 107.9%;
  }
}
@media (max-width: 350px) {
  .header__account {
    width: 60px;
  }
  .logo-phones {
    font-size: 10pt;
  }
  .shop-cards {
    display: flex;
  }
}
@media (max-height: 720px) {
  .cards {
    height: 100%;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "about-user  double-auth" "coin-buy     skins";
    padding-bottom: 20px;
  }
  .burger-menu {
    transform: translate(-120%, 0);
  }
  .burger-menu.active {
    transform: translate(0, 0);
  }
  .search-wrap {
    max-width: 90px;
  }
  .card {
    max-height: 170px;
  }
  .image img {
    max-width: 80px;
    max-height: 100px;
    height: 100%;
    width: 100%;
  }
}