@media screen and (max-width: 900px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 50px 0;
  }

  .header__logos {
    display: none;
  }
  .header__account {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60px 65px;
    grid-template-columns: 60px 65px;
    -ms-grid-rows: 28px 28px;
    grid-template-rows: 28px 28px;
        grid-template-areas: "img name" "img coins";
    width: 1fr;
    height: 56px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #000;
  }
  .header__account p {
    color: #000;
  }

  .account__name {
    font-weight: 700;
  }
  .account__coins {
    font-weight: 500;
    letter-spacing: -0.005em;
  }

  .search {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .online {
    grid-area: online;
    display: none;
  }
  .online-count {
    color: #fff;
  }
  .online span {
    color: rgba(255, 255, 255, 0.5019607843);
  }

  .logo-phones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #000;
    font-weight: 700;
  }

  .cards {
        grid-template-areas: "about-user about-user double-auth double-auth" "about-user about-user double-auth     double-auth" "coin-buy   coin-buy    skins          skins" "coin-buy   coin-buy    skins              skins";
  }

  .sidebar {
    display: none;
  }

  .info {
    font-size: 16px;
  }
  .info-text {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
  }

  .info-coin {
    font-size: 20px;
  }

  .double-auth {
    max-height: 100px;
  }

  .skin {
    display: none;
  }

  .skin-bg {
    width: 100%;
  }

  .footer-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .upper {
    margin: 0;
  }

  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 2;
    opacity: 0.8;
    width: 300px;
    height: 100%;
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  .burger-menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 15px;
  }
  .burger-menu.active {
    opacity: 1;
    -webkit-transform: translate(-20%, 0);
            transform: translate(-20%, 0);
  }

  .menu.active {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -webkit-box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
            box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
  }
  .menu-close {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 120%;
    color: rgba(255, 111, 111, 0.5019607843);
  }
}
@media screen and (max-width: 660px) {
  .container {
    padding-right: 20px;
  }

  .searchTerm {
    width: 25%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
  }
  .searchTerm.active {
    width: 100%;
  }

  .pp-wrapper {
    padding: 0;
  }

  .coin-buy__count {
    font-size: 15pt;
  }
  .coin-buy__info {
    padding: 0;
  }

  .buy-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .promo {
    height: 30px;
  }

  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }

  .double-auth {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 10px 0;
  }
  .double-auth__btn {
    padding: 4px 10px;
  }

  .personal-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
  }

  .skins {
    display: none;
  }

  .info {
    padding: 0 0 0 0;
  }

  .p-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0;
  }

  .footer {
    padding: 20px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-logo i {
    font-size: 25px;
  }
  .footer-social {
    display: none;
  }

  .upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .upper-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .upper-buttons i {
    font-size: 35px;
  }

  .logo-wrap {
    width: 50px;
  }

  .logo-text {
    font-size: 14pt;
  }

  .copyright {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .central {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .down {
    display: none;
  }

  .oferta {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-weight: 500;
  }

  .text-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 11px;
    margin-bottom: 30px;
    background: #222222;
    padding: 0 16px;
  }
  .text-1::before {
    content: "";
    padding: 0;
    display: block;
    position: absolute;
    z-index: 2;
    max-width: 600px;
    width: 100%;
    height: 3px;
    color: rgba(255, 255, 255, 0.07);
  }

  .text-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    padding: 0 16px 5% 16px;
    background: #1A1A1A;
  }
}
@media screen and (max-width: 400px) {
  .burger-menu {
    -webkit-transform: translate(-150%, 0);
            transform: translate(-150%, 0);
  }
  .burger-menu.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .logo-phones {
    font-size: 14pt;
    text-align: center;
  }
}
@media (max-height: 720px) {
  .cards {
    height: 100%;
    gap: 5px;
    -ms-grid-columns: 1fr 5px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 5px 1fr;
    grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "about-user  double-auth" "coin-buy     skins";
    padding-bottom: 20px;
  }

  .burger-menu {
    -webkit-transform: translate(-150%, 0);
            transform: translate(-150%, 0);
  }
  .burger-menu.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .search-wrap {
    max-width: 90px;
  }
}