@media screen and (max-width: 900px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .online {
    grid-area: online;
    display: none;
  }
  .online-count {
    color: #fff;
  }
  .online span {
    color: rgba(255, 255, 255, 0.5019607843);
  }

  .cards {
        grid-template-areas: "about-user about-user double-auth double-auth" "about-user about-user double-auth     double-auth" "coin-buy   coin-buy    skins          skins" "coin-buy   coin-buy    skins              skins";
  }

  .sidebar {
    display: none;
  }

  .info {
    font-size: 16px;
  }
  .info-text {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
  }

  .info-coin {
    font-size: 20px;
  }

  .double-auth {
    max-height: 100px;
  }

  .skin {
    display: none;
  }

  .skin-bg {
    width: 100%;
  }

  .footer-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .upper {
    margin: 0;
  }

  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 2;
    opacity: 0.8;
    width: 300px;
    height: 100vh;
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  .burger-menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 15px;
  }
  .burger-menu.active {
    opacity: 1;
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }

  .menu.active {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -webkit-box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
            box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
  }
  .menu-close {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 120%;
    color: rgba(255, 111, 111, 0.5019607843);
  }
}
@media screen and (max-width: 660px) {
  .container {
    padding-right: 20px;
  }

  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }

  .double-auth {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 10px 0;
  }
  .double-auth__btn {
    padding: 4px 10px;
  }

  .personal-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
  }

  .skins {
    display: none;
  }

  .info {
    padding: 0 0 0 0;
  }

  .p-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-logo i {
    font-size: 25px;
  }
  .footer-social {
    display: none;
  }

  .upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  .upper-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }

  .logo-wrap {
    width: 50px;
  }

  .logo-text {
    font-size: 14pt;
  }

  .copyright {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .central {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}