.shop {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  height: 100%;
}
.shop-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}
.shop-cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.shop-cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.shop-cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.shop-cards > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.shop-cards > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.shop-cards > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.shop-cards > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.shop-cards > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.card {
  background: #fff;
  max-width: 130px;
  max-height: 175px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}