.central {
  padding: 0 1%;
}

.shop {
  width: 100%;
  height: 100%;
  padding: 3%;
}
.shop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.shop-menu p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 30px;
}
.shop-menu p:hover {
  -webkit-transform: translate(-3px, -6px);
          transform: translate(-3px, -6px);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgba(240, 144, 0, 0)), color-stop(#F09000), to(#FFCC80)) no-repeat center bottom;
  background: linear-gradient(180deg, rgba(240, 144, 0, 0) 80%, #F09000, #FFCC80) no-repeat center bottom;
}
.shop-cards {
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.shop-cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.shop-cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.shop-cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.shop-cards > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.shop-cards > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.shop-cards > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.shop-cards > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.shop-cards > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 300px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card-text {
  width: 100%;
  text-align: center;
  background: #fff;
  z-index: 2;
}
.card-text-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5019607843);
}
.card-text-skin-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.035em;
}
.card-text-price {
  height: 100%;
  width: 100%;
  background: #242119;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding: 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.card-text-price p {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.card-text-price:hover {
  background: #b1ab9c;
}
.card-text-price:hover p {
  color: rgb(46, 39, 39);
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 200px;
  height: 100%;
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-align: center;
      justify-self: center;
  background: radial-gradient(75.26% 75.26% at 50.2% 75.26%, #CD9E57 0%, #FFD699 60.19%);
  border-radius: 10px 10px 0 0;
}
.image img {
  max-width: 200px;
  max-height: 250px;
  height: 140%;
  width: 140%;
}

@media screen and (max-width: 900px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 50px 0;
  }

  .header__logos {
    display: none;
  }
  .header__account {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(24px, 56px), minmax(35px, 65px);
    grid-template-columns: minmax(24px, 56px), minmax(35px, 65px);
    -ms-grid-rows: 50% 50%;
    grid-template-rows: 50% 50%;
        grid-template-areas: "img name" "img coins";
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    max-width: 130px;
    width: 100%;
    max-height: 56px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    color: #000;
  }
  .header__account p {
    color: #000;
  }

  .account__img img {
    border-radius: 50%;
  }
  .account__name {
    font-weight: 700;
  }
  .account__coins {
    font-size: 10pt;
    font-weight: 500;
    letter-spacing: -0.005em;
  }

  .search {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .online {
    grid-area: online;
    display: none;
  }
  .online-count {
    color: #fff;
  }
  .online span {
    color: rgba(255, 255, 255, 0.5019607843);
  }

  .logo-phones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #000;
    font-weight: 700;
  }

  .cards {
        grid-template-areas: "about-user about-user double-auth double-auth" "about-user about-user double-auth     double-auth" "coin-buy   coin-buy    skins          skins" "coin-buy   coin-buy    skins              skins";
  }

  .sidebar {
    display: none;
  }

  .info {
    font-size: 16px;
  }
  .info-text {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
  }

  .info-coin {
    font-size: 20px;
  }

  .double-auth {
    max-height: 100px;
  }

  .skin {
    display: none;
  }

  .skin-bg {
    width: 100%;
  }

  .footer-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .upper {
    margin: 0;
  }

  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 5;
    opacity: 0;
    width: 300px;
    height: 100%;
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .burger-menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 15px;
  }
  .burger-menu.active {
    opacity: 1;
    -webkit-transform: translate(-20%, 0);
            transform: translate(-20%, 0);
  }

  .menu.active {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -webkit-box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
            box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
  }
  .menu-close {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 120%;
    color: rgba(255, 111, 111, 0.5019607843);
  }
}
@media screen and (max-width: 660px) {
  .container {
    width: 100vw;
  }

  .searchTerm {
    width: 25%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
  }
  .searchTerm.active {
    width: 100%;
  }

  .search-wrap {
    max-width: 100px;
    width: 100%;
  }

  .pp-wrapper {
    padding: 0;
  }

  .coin-buy__count {
    font-size: 15pt;
  }
  .coin-buy__info {
    padding: 0;
  }

  .buy-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .promo {
    height: 30px;
  }

  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }

  .double-auth {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 10px 0;
  }
  .double-auth__btn {
    padding: 4px 10px;
  }

  .personal-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 90vw;
    width: 100%;
    text-align: center;
  }

  .skins {
    display: none;
  }

  .info {
    padding: 0 0 0 0;
  }

  .p-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0;
  }

  .footer {
    padding: 20px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-logo i {
    font-size: 25px;
  }
  .footer-social {
    display: none;
  }

  .upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .upper-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .upper-buttons i {
    font-size: 35px;
  }

  .logo-wrap {
    width: 50px;
  }

  .logo-text {
    font-size: 14pt;
  }

  .copyright {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .central {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .down {
    display: none;
  }

  .oferta {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-weight: 500;
  }

  .text-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 11px;
    margin-bottom: 30px;
    background: #222222;
    padding: 0 16px;
  }

  .text-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    padding: 0 16px 5% 16px;
    background: #1A1A1A;
  }

  .account__name {
    font-size: 12pt;
  }

  .shop-cards {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 430px) {
  .burger-menu {
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
  }
  .burger-menu.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .search-wrap {
    max-width: 80px;
    width: 100%;
  }

  .logo-phones {
    font-size: 14pt;
    text-align: center;
  }

  .header__account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70px;
  }

  .account__name {
    font-size: 10pt;
  }

  .account__coins {
    font-size: 8pt;
  }

  .account__img {
    width: 24px;
    height: 24px;
    margin: 0;
    border-radius: 50%;
  }

  .shop-cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .image img {
    max-width: 200px;
    max-height: 250px;
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 350px) {
  .header__account {
    width: 60px;
  }

  .logo-phones {
    font-size: 10pt;
  }

  .shop-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-height: 720px) {
  .cards {
    height: 100%;
    gap: 5px;
    -ms-grid-columns: 1fr 5px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 5px 1fr;
    grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "about-user  double-auth" "coin-buy     skins";
    padding-bottom: 20px;
  }

  .burger-menu {
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
  }
  .burger-menu.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .search-wrap {
    max-width: 90px;
  }

  .card {
    max-height: 170px;
  }

  .image img {
    max-width: 80px;
    max-height: 100px;
    height: 100%;
    width: 100%;
  }
}