.shop {
  width: 100%;
  height: 100%;
  padding: 3%;
}
.shop-cards {
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.shop-cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.shop-cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.shop-cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.shop-cards > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.shop-cards > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.shop-cards > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.shop-cards > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.shop-cards > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 300px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card-text {
  width: 100%;
  text-align: center;
  background: #fff;
  z-index: 2;
}
.card-text-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5019607843);
}
.card-text-skin-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.035em;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 200px;
  height: 100%;
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-align: center;
      justify-self: center;
  background: radial-gradient(75.26% 75.26% at 50.2% 75.26%, #CD9E57 0%, #FFD699 60.19%);
  border-radius: 10px 10px 0 0;
}
.image img {
  max-width: 200px;
  max-height: 250px;
  height: 140%;
  width: 140%;
}

.price {
  height: 100%;
  width: 100%;
  background: #242119;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding: 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.price p {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.price:hover {
  background: #b1ab9c;
}
.price:hover p {
  color: rgb(46, 39, 39);
}