.sidebar {
  display: -ms-grid;
  display: grid;
  align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* grid-template-columns: 1fr; */
  -ms-grid-rows: 1fr 56px 3fr;
  grid-template-rows: 1fr 56px 3fr;
  top: 0;
  /* padding: 0 30%; */
  max-width: 700px;
  width: 100%;
  height: 96vh;
  background: radial-gradient(159.06% 81.68% at 74.64% -9.86%, #322620 0%, #222222 100%);
  -webkit-box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.sidebar__header {
  color: #fff;
  width: auto;
  height: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
}

.account {
  display: -ms-grid;
  display: grid;
  width: 1fr;
  height: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 100px 100px;
  grid-template-columns: 100px 100px;
  -ms-grid-rows: 28px 28px;
  grid-template-rows: 28px 28px;
      grid-template-areas: "img name" "img coins";
}
.account__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid: center;
  width: 56px;
  height: 56px;
  grid-area: img;
}
.account__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  color: #fff;
  grid-area: name;
}
.account__coins {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: coins;
  color: rgba(255, 255, 255, 0.3098039216);
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: (74px)[5];
  grid-template-rows: repeat(5, 74px);
  place-items: center;
  /* &__item::after
  {
      content: " ";
      color: #F09000;
      width: 7px;
      height: 100%;
  } */
}

.menu > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.menu > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.menu > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.menu > *:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.menu > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.5019607843);
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu__item:hover {
  color: #F09000;
  background: rgba(240, 144, 0, 0.2);
}
.menu__item-text {
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5019607843);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu__item-text:hover {
  color: #fff;
}