.burger-menu {
  display: none;
  opacity: 0;
  min-width: 20px;
  min-height: 20px;
  top: 0;
}
.burger-menu__content {
  display: grid;
  align-self: flex-start;
  align-items: center;
  text-align: center;
  /* grid-template-columns: 1fr; */
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-template-areas: "online" "menu" ".";
  top: 0;
  /* padding: 0 30%; */
  max-width: 700px;
  width: 100%;
  height: 80%;
  background: radial-gradient(159.06% 81.68% at 74.64% -9.86%, #322620 0%, #222222 100%);
  box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.burger-menu__button {
  cursor: pointer;
  align-self: flex-start;
  display: none;
  background: none;
  border: none;
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-self: center;
  transition: 0.3s;
}
.burger-menu__button:hover {
  color: rgb(173, 173, 173);
}
.burger-menu__buttonimg {
  max-width: none;
  width: 100%;
}
.burger-menu .menu {
  display: none;
  grid-area: menu;
  justify-content: space-around;
}
.burger-menu .menu__item {
  padding: 5% 0;
  max-height: 40px;
  height: 100%;
}
.burger-menu .menu-online {
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  display: flex;
}
.burger-menu .menu-online-text {
  color: rgba(255, 255, 255, 0.5019607843);
}

.sidebar {
  display: grid;
  align-self: flex-start;
  align-items: center;
  text-align: center;
  /* grid-template-columns: 1fr; */
  grid-template-rows: 1fr 56px 3fr;
  top: 0;
  /* padding: 0 30%; */
  max-width: 700px;
  height: 96vh;
  width: 100%;
  background: radial-gradient(159.06% 81.68% at 74.64% -9.86%, #322620 0%, #222222 100%);
  box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.sidebar__header {
  color: #fff;
  width: auto;
  height: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
}

.account {
  display: grid;
  max-width: 200px;
  width: 100%;
  max-height: 56px;
  align-self: center;
  justify-self: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "img name" "img coins";
}
.account__img {
  grid: center;
  max-width: 56px;
  max-height: 56px;
  width: 100%;
  height: 100%;
  grid-area: img;
}
.account__name {
  color: #fff;
  grid-area: name;
}
.account__coins {
  grid-area: coins;
  color: rgba(255, 255, 255, 0.3098039216);
}

.menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 74px);
  place-items: center;
  /* &__item::after
  {
      content: " ";
      color: #F09000;
      width: 7px;
      height: 100%;
  } */
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5019607843);
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.menu__item:hover {
  color: #F09000;
  background: rgba(240, 144, 0, 0.2);
}
.menu__item-text {
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5019607843);
  transition: 0.5s;
}
.menu__item-text:hover {
  color: #fff;
}