.central
{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.top
{
    padding: 0;
}
.main-cards
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 45% 30%;
    grid-template-areas: "discount discount discount" "update vipe priveledge";
    gap: 20px;
    
    
    &__item
    {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background: #fefefe;
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }
}

.discount
{
    grid-area: discount;    
    background: radial-gradient(47.05% 47.05% at 50% 52.95%, #825d26a6 0%, #543c17a6 100%), url(/src/img/main/discount-bg.png) no-repeat center/cover; 
    max-height: 373px;
    height: 100%;
    width: 100%;
    padding: 5% 0 10% 3%;
    p{
        color: #fefefe;
    }

    &-date
    {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 24px;
        letter-spacing: 0.035em;
    }
    &-size
    {
        font-weight: 800;
        font-size: 45px;
        line-height: 49px;
        letter-spacing: 0.035em;
    }
}   

.update
{
    grid-area: update;
    display: flex;
    &-wrap
    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    gap: 15px;
    }
    //border-radius: 10px;
    gap: 0px;
    &-btn
    {
        background: #242119;
        border-radius: 0 0 10px 10px;
        justify-self: end;
        &:hover{
            background: #e6e0cf;
        }
    }
    &-date
    {
    font-weight: 700;
    font-size: 1.563rem;
    line-height: 30px;
    letter-spacing: 0.035em;
    }

    &-changes-list
    {
    overflow-y: auto;
    max-height: 60px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #070707;
    }
}

.secondary-info
{
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #00000080;
}

.vipe
{
    grid-area: vipe;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0px;
    justify-content: center;

    &-header
    {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.035em;
    }
    &-days-count
    {
        color: #F09000;
        font-weight: 700;
        font-size: 77px;
        line-height: 78px;
    }
}

.priveledge
{
    grid-area: priveledge;
    background: radial-gradient(50% 65.42% at 50% 65.42%, #CD9E57 0%, #FFD699 59.88%);
    &-top
    {
        align-items: center;
        justify-content: center;
        height: 25%;
        //overflow: hidden;
        &-img
        {
            max-height: 160px;
            align-self: center;
            margin: 0;
        }
        &-bg
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &-info
    {
        background: #fefefe;
        height: 70%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-content: center;
        padding: 0 10px;
        border-radius: 0 0 10px 10px;
        p{
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.035em;
        color: #000000;
        }
        a{
        text-decoration: underline;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;

        }
    }
}

.shop-btn
{
    background: #F09000;
    width: fit-content;
    padding: 0% 1%;
    &:hover{
        background: #f0b55d;
    }
}
