.modal {
    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: rgba(72, 72, 72, 0.53);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    &__wrapper {
        background: #fff;
        border-radius: 10px;
        max-height: 400px;
        max-width: 670px;
        height: 100%;
        width: 100%;
    }
    &.active
    {
        display: flex;
    }

    &-1
    {
        display: none;
        &.active
        {
            display: flex;
        }

    }
    &-2
    {
        display: none;
        &.active
        {
            display: flex;
        }

    }
}
.close
{
    
}
