
.p-text
{
    display: flex;
    align-self: flex-start;
    /* width: 42%; */
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.035em;
}
/*Cards in front*/
.personal-page
{
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.cards
{
    display: grid;
    align-self: center;
    width: 90%;
    height: 100%;
    max-width: 1000px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
                    "about-user about-user double-auth double-auth"
                    "about-user about-user skins       skins"
                    "coin-buy   coin-buy    skins          skins"
                    "coin-buy   coin-buy    .              .";

    grid-auto-rows: minmax(150px, auto);
    gap: 20px; 
}

.pp-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2% 5%;
    width: 100%;
    height: 100%;
    gap: 5px;
}


.pp
{
    position: relative;
    background: #fefefe;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 3%;
}




.about-user
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: about-user;
}

.info
{
    top: 0;
    text-align: center;
    font-weight: 900;
    font-size: 18px;

&-text
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 15px;
    gap: 5px;
    /* padding-bottom: 20px; */
&__item
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-priveledge
{
    color: #FF9800;
}
}
}
}



.coin-count
{
    font-weight: 700;
}

.btn
{
    max-height: 40px;
    min-height: 25px;
    height: 100%;
    align-items: center;
    border-radius: 6px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #ffffff;
    border: 1px solid #00000025;
    transition: .5s;
    cursor: pointer;
&:hover
{
    background: #dedede;
    color: #000;

}
}


.exit-btn
{
    justify-content: center;
    background: #FF4E4E;
    max-width: 460px;
    width: 100%;
    margin: 0 auto;

&:hover
{
    color: #2f2f2f;
    background: #ff9393;
}

}

.double-auth
{
    gap: 0;
    grid-area: double-auth;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-height: 80px;
    height: 100%;

&__btn
{
    background: #242119;
    max-width: 150px;
    width: 100%;
    height: 100%;
}

}




.coin-buy
{
    grid-area: coin-buy;
    max-height: 200px;
    &__count
    {
        display: flex;
        color: #000;
        font-family: 'Montserrat';
        font-size: 22px;
        letter-spacing: 0.03em;
        width: max-content;
        font-weight: 600;
        line-height: 22px;
        color: #070707;
    }
    &__info
    {
        padding: 10px 0 0 0;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.005em;
        color: #000000;
    }
}

.subinfo
{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #0707075e;
}

.slidecontainer {
    width: 100%; 
}

.slider {
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;

    &:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }
}

.slider
{
    width: 100%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    transition: all .2s;

    &::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background:  #FFD699; /* Green background */
        cursor: pointer; /* Cursor on hover */
    }


    &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        background:  #000;
        border-radius: 50%;
        border: 4px solid #FFD699;
        cursor: pointer; /* Cursor on hover */
    }
}





.promo
{
    width: 100%;
    height: 50px;
    background: #F3F3F3;
    text-align: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    backdrop-filter: blur(2.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 11px;
    border: none;
    &-p
    {
        color: #00000066;
    }
    
}

.bottom-container
{
    display: flex;
    width: 100%;
    max-height: 50px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0;
}
.buy-btn
{
    background: #242119;
    width: 129px;
}
.price
{
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #0000005e;

    p
{
    color: #00000066;
    align-self: center;
    justify-self: flex-end;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

&-count
{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

}



.skins
{
    grid-area: skins;
    display: flex;
    justify-content: space-between;
    /* height: max-content; */
    align-items: center;
    border: 0;
   padding: 0;
}


.skin
{
    display: flex;

    /* background: url(src/img/cards/skin.png) no-repeat; */
    max-height: fit-content;
    height: auto;
    width: 50%;
    grid-auto-rows: minmax(100px, auto);
    padding: 0 10px;
    justify-self: center;
    &-bg
    {
        display: flex;
        flex-direction: column;
        background: url(../src/img/cards/skin-bg.png) no-repeat center/cover;
        height: 100%;
        width: 50%;
        border-radius: 10px;
        overflow: hidden;
        flex-shrink: 1;
        text-align: center;
        justify-content: center;
    }

    &-wrap
{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 0 10px;
}

&-header
{
    /* position: absolute; */
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    z-index: 2;
}
&-paragraph
{
    color: #fff;
}
}





.skins__btn-wrapper
{
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
    
}
.skin__btn-wrapper
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}
.field
{
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
.skins__btn
{
    max-height: 70px;
    height: 100%;
    width: auto;
    align-self: center;
    border-radius: 6px;
    cursor: pointer;
    color: #000;
    text-transform: uppercase;
    background: #FFD699;
    font-weight: 600;
    padding: 3% 10%;
    width: fit-content;
    font-size: 1.125rem;
    transition: .5s;
    &:hover
    {
        background: #ffd699b3;
        color: #000000bc;
    }
}