.accordion {
    display: flex;
    justify-content: space-between;
    background-color: #FEFEFE;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.035em;
    color: #323232;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    &-wrapper
    {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 10p 0px;
    }

    &-item
    {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }
    &:hover
    {
        background-color: #FFD79A;
    }
    &active{
        background-color: #FFD79A;
    }
    
    &__arrow {
        content: "";
        width: 12px;
        height: 12px;
        border:  solid #323232;
        border-width: 1px 0 0 1px;
        transform:  rotate(224deg);
        //position: absolute; 
        transition: .5s;
        &:focus{
            transform:  rotate(-224deg);
        }
        .active
        {
            transform:  rotate(-224deg);
        }

    }

}
.rotate{

        transform: rotate(-224deg);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 10px 18px;
    background-color:  #FEFEFE;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    &:last-child
    {
        margin-bottom: 10px;
    }
}