@media screen and (max-width: 900px) 
{


    .container
{
    display: flex;
    justify-content: center;

}
.online
{
    grid-area: online;
    display: none;

    &-count
    {
        color:#fff
    }
    span
    {
        color: #ffffff80;
    }
}


    .cards
{

    grid-template-areas:
                    "about-user about-user double-auth double-auth"
                    "about-user about-user double-auth     double-auth"
                    "coin-buy   coin-buy    skins          skins"
                    "coin-buy   coin-buy    skins              skins";

}


.sidebar
{
    display: none;
}

.info
{
    font-size: 16px;
&-text
{
    font-size: 12px;
}
}

.btn
{
    font-size: 12px;
}
.info-coin
{
    font-size: 20px;
}
.double-auth
{
    max-height: 100px;
}
.skin
{
    display: none;
}
.skin-bg
{
    width: 100%;
}



.footer-buttons
{
 display: flex;
 justify-content: center;
}
.upper
{
    margin: 0;
}

.burger-menu
{
 
    display: flex;
    position: fixed;
    z-index: 2;
    opacity: 0.8;
   width: 300px;
   height: 100vh;
   transform: translate(-120%, 0);
   transition: all linear .3s;

   &__content
   {
   }

    &__button
    {
        display: flex;
        width: 15px;
    }

    &.active
{
    opacity: 1;
    transform: translate(-10%, 0);
}
}

.menu
{
    &.active
    {
        
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
    }
    &__item
    {

    }
    &-close
    {
        justify-content: center;
        width: 120%;
        color: #ff6f6f80;
    }
}


}


@media screen and (max-width: 660px) 
{
    .container
    {
        padding-right: 20px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
       } 

        .double-auth
        {
            order:3;
            padding: 10px 0;
            &__btn
            {
                padding:4px 10px;
            }
        }

       .personal-page
       {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
       }
       .skins
       {
        display: none;
       }

        .info
        {
            padding:0 0 0 0;
        }

       .p-text
       {
        justify-content: center;
        width: 100%;
        margin: 0;
       }
       .footer
       {
        display: flex;
        &-logo i
        {
            font-size: 25px;
        }
        &-social
        {
            display: none;
        }
       }
       .upper
       {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0 20px;

        &-buttons
        {
            display: flex;
            gap: 20px;
        }
       }
       .logo-wrap
       {
        width: 50px;
       }
       .logo-text
       {
        font-size: 14pt;
       }
       .copyright
       {
        align-self: flex-start;

       }
       .central
       {
        width: 100%;
        align-items: center;
       }

}

@media screen and (max-width: 400px) 
{

}