@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import "footer.scss";





body
{
    font-family: 'Montserrat', sans-serif;
}

.container
{
    position: relative;
    display: grid;
    grid-template-columns: 1.3fr 4fr;
    column-gap: 20px;
    grid: row;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url(../src/img/personal-cabinet/bg.jpg) no-repeat fixed center;
    background-size: cover;
    font-family: Montserrat;
    color: #0000;
}
/* HEADER */
.header
{
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100%;
    top: 0;
    align-items: center;
    justify-content: space-around;
    &ul{
        display: flex;
        justify-content: space-around;
        height: 100px;
    }
}

/*Search*/
.search-wrap
{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    height: 50px;
    /* top: 52px; */
    grid-column: span 2;
}

.search {
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  height: 100%;
  /* position: relative; */
  display: flex;
  
}

.searchTerm {
  width: 100%;
  justify-content: center;
  text-align: center;
  border-right: none;
  height: 50px;
  color: #000;
  background: #F3F3F3;
  border: 1px solid #d7d7d749;
  backdrop-filter: blur(5px);
  border-radius: 11px;

}

.searchTerm:focus
{
  color: #000000;
  font-weight: 600;
}

.header__logos
{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    column-gap: 15px;
    li
{
    width: fit-content;
    height: fit-content;
}

i{
    cursor: pointer;
    font-size: 22pt;
    margin: 0;
    padding: 0;
    transition: .3s;
}
& i:hover{
    color:  #F09000;
}
}


.telegram-logo i
{
    color: #242119;
}
.vk-logo i
{
    color: #2787F5;
}
.discord-logo i
{
    color: #5865F2;
}


.online
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    &-text
    {
        text-align: center;
        justify-self: center;
        margin-top: -5px;
        color: #00000080;
    }
    &-switch
    {
        display: inline-flex;
        column-gap: 10px;
        text-align: center;
    }
    &-count
{
    font-size: 13pt;
    align-self: center;
    color:#000000;
    font-weight: 600;
    line-height: 27px;
&span
{
    color: #00000080;
}
}
}


.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 11px;

    &-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #D7D7D7;
    
        transition: .4s;
    
        &:before {
            position: absolute;
            content: "";
            height: 11px;
            width: 65%;
            margin-left: -50%;
            background-color: #f5f5f5;
        
            transition: .4s;
          }
      }
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  

  
  input:checked + .switch-slider {
    background-color: #F09000;
  }
  
  input:focus + .switch-slider {
    box-shadow: 0 0 1px #F09000;
  }
  
  input:checked + .switch-slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .switch-slider.round {
    border-radius: 30px;
    &:before {
        border-radius: 30px;
      }
  }
  



/*sidebar*/
.sidebar
{   
    display: grid;
    align-self: flex-start;
    align-items: center;
    text-align: center;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 1fr 56px 3fr;
    top: 0;
    /* padding: 0 30%; */
    max-width: 700px;
    width: 100%;
    height: 96vh;
    background: radial-gradient(159.06% 81.68% at 74.64% -9.86%, #322620 0%, #222222 100%);
    box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
    border-radius: 5px;


    &__header
{
    
    color: #fff;
    width: auto;
    height: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;

}
}


.account
{
    display: grid;
    width: 1fr;
    height: 56px;
    align-items: center;
    align-self: center;
    justify-content: center;
    grid-template-columns: 100px 100px; 
    grid-template-rows: 28px 28px; 
    grid-template-areas: 
        "img name"
        "img coins"; 
&__img
{
    grid: center;
    width: 56px;
    height: 56px;
    grid-area: img;
}
&__name
{
    color: #fff;
    grid-area: name;
}
&__coins
{
    grid-area: coins;
    color: #ffffff4f;
}
}

.menu
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 74px);
    place-items: center;

&__item
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff80;
    column-gap: 10px;
    width: 100%;
    height: 100%;
    transition: .5s;
}
&__item:hover
{
    color: #F09000;
    background: #f0900033;
}
&__item-text
{ 
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: #ffffff80;
    transition: .5s;
}
&__item-text:hover
{
    color: #fff;
}

/* &__item::after
{
    content: " ";
    color: #F09000;
    width: 7px;
    height: 100%;
} */

}





/*Front*/
.p-text
{
    display: flex;
    align-self: flex-start;
    margin-left: 55px;
    /* width: 42%; */
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.035em;
}
/*Cards in front*/
.personal-page
{
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.cards
{
    display: grid;
    align-self: center;
    width: 90%;
    height: 73vh;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
                    "about-user about-user double-auth double-auth"
                    "about-user about-user skins       skins"
                    "coin-buy   coin-buy    skins          skins"
                    "coin-buy   coin-buy    .              .";

    grid-auto-rows: minmax(150px, auto);
    gap: 20px; 
}

.pp-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2% 5%;
    width: 100%;
    height: 100%;
    gap: 5px;
}


.pp
{
    position: relative;
    background: #fefefe;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}




.about-user
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: about-user;
}

.info
{
    top: 0;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    padding: 10px 0 0 0;

&-text
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 15px;
    gap: 5px;
    /* padding-bottom: 20px; */
}
&-text__item
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
}


.priveledge
{
    color: #FF9800;
}
.coin-count
{
    font-weight: 700;
}

.btn
{
    max-height: 40px;
    min-height: 25px;
    height: 100%;
    align-items: center;
    border-radius: 6px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #ffffff;
    border: 1px solid #00000025;
    transition: .5s;
    cursor: pointer;
&:hover
{
    background: #dedede;
    color: #000;

}
}


.exit-btn
{
    justify-content: center;
    background: #FF4E4E;
    max-width: 460px;
    width: 100%;
    margin: 0 auto;

&:hover
{
    color: #2f2f2f;
    background: #ff9393;
}

}

.double-auth
{
    gap: 0;
    grid-area: double-auth;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-height: 80px;
    height: 100%;

&__btn
{
    background: #242119;
    max-width: 150px;
    width: 100%;
    height: 100%;
}

}




.coin-buy
{
    grid-area: coin-buy;
    &__count
    {
        display: flex;
        color: #000;
        font-family: 'Montserrat';
        font-size: 22px;
        letter-spacing: 0.03em;
        width: max-content;
        font-weight: 600;
        line-height: 22px;
        color: #070707;
    }
    &__info
    {
        padding: 10px 0 0 0;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.005em;
        color: #000000;
    }
}


.subinfo
{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #0707075e;
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;

    &:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #FFD699;
    border: #000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFD699;
    cursor: pointer;
}

.promo
{
    width: 100%;
    height: 50px;
    background: #F3F3F3;
    text-align: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    backdrop-filter: blur(2.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 11px;
    border: none;
    &-p
    {
        color: #00000066;
    }
    
}

.bottom-container
{
    display: flex;
    width: 100%;
    max-height: 50px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0;
}
.buy-btn
{
    background: #242119;
    width: 129px;
}
.price
{
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #0000005e;

    p
{
    color: #00000066;
    align-self: center;
    justify-self: flex-end;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

&-count
{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

}



.skins
{
    grid-area: skins;
    display: flex;
    justify-content: space-between;
    /* height: max-content; */
    align-items: center;
    border: 0;
   
}


.skin
{
    display: flex;

    /* background: url(src/img/cards/skin.png) no-repeat; */
    max-height: fit-content;
    height: auto;
    width: 50%;
    grid-auto-rows: minmax(100px, auto);
    padding: 0 10px;
    justify-self: center;
    &-bg
    {
        display: flex;
        flex-direction: column;
        background: url(../src/img/cards/skin-bg.png) no-repeat center/cover;
        height: 100%;
        width: 50%;
        border-radius: 10px;
        overflow: hidden;
        flex-shrink: 1;
        text-align: center;
        justify-content: center;
    }

    &-wrap
{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 0 10px;
}

&-header
{
    /* position: absolute; */
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    z-index: 2;
}
&-paragraph
{
    color: #fff;
}
}





.skins__btn-wrapper
{
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
    
}
.skin__btn-wrapper
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}
.field
{
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
.skins__btn
{
    max-height: 70px;
    height: 100%;
    width: auto;
    align-self: center;
    border-radius: 6px;
    cursor: pointer;
    color: #000;
    text-transform: uppercase;
    background: #FFD699;
    font-weight: 600;
    padding: 3% 10%;
    width: fit-content;
    font-size: 1.125rem;
    transition: .5s;
    &:hover
    {
        background: #ffd699b3;
        color: #000000bc;
    }
}






@media screen and (max-width: 900px) 
{

    .container
{
    display: flex;
    justify-content: center;

}
    .cards
{

    grid-template-areas:
                    "about-user about-user double-auth double-auth"
                    "about-user about-user double-auth     double-auth"
                    "coin-buy   coin-buy    skins          skins"
                    "coin-buy   coin-buy    skins              skins";

}


.sidebar
{
    display: none;
}

.info
{
    font-size: 13px;
}
.info-text
{
    font-size: 12px;
}
.btn
{
    font-size: 12px;
}
.info-coin
{
    font-size: 20px;
}
.double-auth
{
    max-height: 100px;
}
.skin
{
    display: none;
}
.skin-bg
{
    width: 100%;
}



.footer-buttons
{
 display: flex;
 justify-content: center;
}
.upper
{
    margin: 0;
}


}


@media screen and (max-width: 730px) 
{
    
}

@media screen and (max-width: 400px) 
{
    
}