@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
}

.container
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 20px;
    grid: row;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url(src/img/personal-cabinet/bg.jpg);
    font-family: Montserrat;
    color: #0000;
}

/*Search*/
.search-wrap
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    top: 52px;
    grid-column: span 2;
}

.search {
    justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  
}

.searchTerm {
  width: 30%;
  justify-content: center;
  border-right: none;
  height: 50px;
  color: #000;
  background: #F3F3F3;
   border: 1px solid #D7D7D7;
backdrop-filter: blur(5px);
border-radius: 11px;

}

.searchTerm:focus
{
  color: #d7d7d7;
}

/*sidebar*/
.sidebar
{   
    display: grid;
    align-self: flex-start;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 56px 3fr;
    /* margin-top: -80px; */
    top: 0;
    max-width: 408px;
    width: 40vw;
    height: 96vh;
    background: radial-gradient(159.06% 81.68% at 74.64% -9.86%, #322620 0%, #222222 100%);
    box-shadow: 7px 0px 60px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.sidebar__header
{
    
    color: #fff;
    width: auto;
    height: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;

}

.account
{
    display: grid;
    width: 1fr;
    height: 56px;
    align-items: center;
    align-self: center;
    justify-content: center;
    grid-template-columns: 100px 100px; 
    grid-template-rows: 28px 28px; 
    grid-template-areas: 
        "img name"
        "img coins"; 
}
.account__img
{
    grid: center;
    width: 56px;
    height: 56px;
    grid-area: img;
}
.account__name
{
    color: #fff;
    grid-area: name;
}
.account__coins
{
    grid-area: coins;
    color: #ffffff4f;
}
.menu
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 74px);
    place-items: center;
}
.menu__item
{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu__item-text
{ 
    align-self: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: #ffffff80;
}
/*Front*/
.p-text
{
    display: flex;
    align-self: flex-start;
    margin-left: 55px;
    /* width: 42%; */
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.035em;
}
/*Cards in front*/
.personal-page
{
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.cards
{
    display: grid;
    align-self: center;
    width: 90%;
    height: 75vh;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
                    "about-user about-user double-auth double-auth"
                    "about-user about-user skins skins"
                    "coin-buy coin-buy skins skins"
                    "coin-buy coin-buy . .";

    grid-auto-rows: minmax(150px, auto);
    gap: 20px; 
}

.pp-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 20px 0px 20px;
    width: 100%;
    height: 100%;
    gap: 5px;
}


.pp
{
    position: relative;
    background: #fefefe;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}




.about-user
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: about-user;
}

.info
{
    top: 0;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    padding: 10px 0 0 0;
}

.info-text
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 15px;
    gap: 10px;
    /* padding-bottom: 20px; */
}
.info-text__item
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.priveledge
{
    color: #FF9800;
}
.coin-count
{
    font-weight: 700;
}

.btn
{
    height: 40px;
    align-items: center;
    border-radius: 6px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #fff;
    border: #0000;
}

.exit-btn
{
    justify-content: center;
    background: #FF4E4E;
    width: 80%;
    margin: 0 auto;
}

.double-auth
{
    grid-area: double-auth;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80%;
}
.double-auth__btn
{
    background: #242119;
    width: 129px;
    
}






.coin-buy
{
    grid-area: coin-buy;
}

.info-coin
{
    padding: 10px 0 0 0;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #000000;
}
.coin-buy__count{
    display: flex;
    color: #000;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    width: max-content;
    height: 22px;
}

.subinfo
{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #0707075e;
}

.coin-buy__count
{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #FFD699;
    border: #000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFD699;
    cursor: pointer;
}

.promo
{
    width: 100%;
    height: 50px;
    background: #F3F3F3;
    text-align: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    backdrop-filter: blur(2.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 11px;
    border: none;
}
.promo-p
{
    color: #00000066;
}

.bottom-container
{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}
.buy-btn
{
    background: #242119;
    width: 129px;
}
.price
{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #0000005e;
}
.price-count
{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.skins
{
    grid-area: skins;
    display: flex;
    justify-content: space-evenly;
    height: 297px;
    align-items: center;
}

.skin
{
    background: url(src/img/cards/skin.png) no-repeat;
    height: 100%;
    width: 100%;
    margin: 50px 0 0 0;
    flex-shrink: 1;
}

.skin-bg
{
    background: url(src/img/cards/skin-bg.png);
    height: 297px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 1;
}

.footer
{
    height: 343px;
    width: 100%;
    background: #222222;
}

